body{
	background-color: #262E3F;
}

#container{
	background-color: #DFD9D0;
	width: 960px;
	margin: 0 auto;
}

/*.logo, .russia, .india, .china, .us, .safrica, .germany, .iran, .canada, .korea, .uk, .vchina, .vus, .vindia, .vrussia, .vgermany, .vcanada, .viran, .vsafrica, .vkorea, .vuk, .weight{
	background: url(images/sprites.png) no-repeat;
}*/

ul{
	list-style-type: none;
}

#logo{
	/*background-position: -229px 0;*/
	text-indent: -9999999px;
	width: 421px;
	height: 180px;
/*	display:block;
	text-decoration:none;*/
	background-image:url("../images/sprites.png"); 
	background-position: -229px 0px;
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
}

#russia{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: 0px 0px;
	width: 109px;
	height: 109px;
}

#india{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: 0px -108px ;
	width: 109px;
	height: 109px;
}

#china{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: 0px -215px ;
	width: 109px;
	height: 109px;
}

#us{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: 0px -319px ;
	width: 110px;
	height: 111px;
}

#safrica{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -5px -431px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#germany{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -113px 0;
	width: 109px;
	height: 109px;
}

#iran{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -119px -113px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 4px;
}

#canada{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -118px -221px ;
	width: 99px;
	height: 100px;
	margin-left: 5px;
	margin-top: 10px;
}

#korea{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -118px -328px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#uk{
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -119px -434px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

.vchina{
	background-position: -5px -541px ;
	width: 877px;
	height: 49px;
}

.vus{
	background-position: -5px -598px ;
	width: 766px;
	height: 49px;
}

.vindia{
	background-position: -228px -245px ;
	width: 389px;
	height: 48px;
}

.vrussia{
	background-position: -225px -407px ;
	width: 331px;
	height: 49px;
}

.vgermany{
	background-position: -228px -299px ;
	width: 194px;
	height: 49px;
}

.vcanada{
	background-position: -225px -465px ;
	width: 151px;
	height: 49px;
}

.viran{
	background-position: -426px -300px ;
	width: 179px;
	height: 49px;
}

.vsafrica{
	background-position: -227px -352px ;
	width: 129px;
	height: 49px;
}

.vkorea{
	background-position: -380px -466px ;
	width: 136px;
	height: 49px;
}

.vuk{
	background-position: -366px -354px ;
	width: 122px;
	height: 49px;
}

.weight{
	background-position: -356px -88px ;
	width: 588px;
	height: 450px;
}

