body{
	background-color: #262E3F;
}

#container{
	text-indent: -9999999px;
	background-color: #DFD9D0;
	width: 1024px;
	min-height: 1300px;
	margin: 0 auto;
}

.flag{
	float: left;
	width: 100px;
	margin-left: -25px;
	max-width: 
}

.bars{
	float: left;
	margin-left: 10px;

}

/*.logo, .russia, .india, .china, .us, .safrica, .germany, .iran, .canada, .korea, .uk, .vchina, .vus, .vindia, .vrussia, .vgermany, .vcanada, .viran, .vsafrica, .vkorea, .vuk, .weight{
	background: url(images/sprites.png) no-repeat;
}*/

ul{
	list-style-type: none;
}

#logo{	
	background-image:url("../images/sprites.png");
	text-indent: -9999999px;
	width: 421px;
	height: 180px;
	background-position: -229px 0px;
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
}

#china{
	background-image:url("../images/sprites.png");
	background-position: 0px -215px ;
	width: 109px;
	height: 109px;
}

#us{
	background-image:url("../images/sprites.png");
	background-position: 0px -319px ;
	width: 110px;
	height: 111px;
}

#india{
	background-image:url("../images/sprites.png");
	background-position: 0px -108px ;
	width: 109px;
	height: 109px;
}

#russia{
	background-image:url("../images/sprites.png");
	background-position: 0px 0px;
	width: 109px;
	height: 109px;
}

#germany{
	background-image:url("../images/sprites.png");
	background-position: -113px 0;
	width: 109px;
	height: 109px;
}

#iran{
	background-image:url("../images/sprites.png");
	background-position: -119px -113px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 4px;
}

#canada{
	background-image:url("../images/sprites.png");
	background-position: -118px -221px ;
	width: 99px;
	height: 100px;
	margin-left: 5px;
	margin-top: 10px;
}

#korea{
	background-image:url("../images/sprites.png");
	background-position: -118px -328px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#safrica{
	background-image:url("../images/sprites.png");
	background-position: -5px -431px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#uk{
	background-image:url("../images/sprites.png");
	background-position: -119px -434px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#vchina{
	background-image:url("../images/sprites.png");
	background-position: -5px -541px ;
	width: 877px;
	height: 49px;
	margin-top: 44px;
}

#vus{
	background-image:url("../images/sprites.png");
	background-position: -5px -598px ;
	width: 766px;
	height: 49px;
	margin-top: 64px;
}

#vindia{
	background-image:url("../images/sprites.png");
	background-position: -228px -245px ;
	width: 389px;
	height: 48px;
	margin-top: 64px;
}

#vrussia{
	background-image:url("../images/sprites.png");
	background-position: -225px -407px ;
	width: 331px;
	height: 49px;
	margin-top: 57px;
}

#vgermany{
	background-image:url("../images/sprites.png");
	background-position: -228px -299px ;
	width: 194px;
	height: 49px;
	margin-top: 64px;
}

#viran{
	background-image:url("../images/sprites.png");
	background-position: -426px -300px ;
	width: 179px;
	height: 49px;
	margin-top: 57px;
}

#vcanada{
	background-image:url("../images/sprites.png");
	background-position: -225px -465px ;
	width: 151px;
	height: 49px;
	margin-top: 60px;
}

#vkorea{
	background-image:url("../images/sprites.png");
	background-position: -380px -466px ;
	width: 136px;
	height: 49px;
	margin-top: 64px;
}

#vsafrica{
	background-image:url("../images/sprites.png");
	background-position: -227px -352px ;
	width: 129px;
	height: 49px;
	margin-top: 55px;
}

#vuk{
	background-image:url("../images/sprites.png");
	background-position: -366px -354px ;
	width: 122px;
	height: 49px;
	margin-top: 61px;
}

/*#weight{	
	text-indent: -9999999px;
	background-image:url("../images/sprites.png");
	background-position: -356px -88px ;
	width: 588px;
	height: 450px;
	position: absolute;*/

}
