body{
	background-color: #262E3F;
}

#container{
	text-indent: -9999999px;
	background-color: #DFD9D0;
	width: 1024px;
	min-height: 1300px;
	margin: 0 auto;
}

.flag{
	float: left;
	width: 100px;
	margin-left: -25px;
	max-width: 
}

.bars{
	float: left;
	margin-left: 10px;

}

/*.logo, .russia, .india, .china, .us, .safrica, .germany, .iran, .canada, .korea, .uk, .vchina, .vus, .vindia, .vrussia, .vgermany, .vcanada, .viran, .vsafrica, .vkorea, .vuk, .weight{
	background: url(images/sprites.png) no-repeat;
}*/

ul{
	list-style-type: none;
}

#logo{	
	background-image:url("../images/sprites.png");
	text-indent: -9999999px;
	width: 421px;
	height: 180px;
	background-position: -229px 0px;
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
}

#china{
	background-image:url("../images/sprites.png");
	background-position: 0px -215px ;
	width: 109px;
	height: 109px;
}

#china:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -870px -7px ;
	width: 109px;
	height: 109px;
}

#us{
	background-image:url("../images/sprites.png");
	background-position: 0px -319px ;
	width: 110px;
	height: 111px;
}

#us:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -875px -130px ;
	width: 110px;
	height: 111px;
}

#india{
	background-image:url("../images/sprites.png");
	background-position: 0px -108px ;
	width: 109px;
	height: 109px;
}

#india:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -875px -250px ;
	width: 109px;
	height: 109px;
}

#russia{
	background-image:url("../images/sprites.png");
	background-position: 0px 0px;
	width: 109px;
	height: 109px;
}

#russia:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -876px -366px ;
	width: 109px;
	height: 109px;
}

#germany{
	background-image:url("../images/sprites.png");
	background-position: -113px 0;
	width: 109px;
	height: 109px;
}

#germany:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -879px -488px ;
	width: 109px;
	height: 109px;
}

#iran{
	background-image:url("../images/sprites.png");
	background-position: -119px -113px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 4px;
}

#iran:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -885px -605px ;
	width: 99px;
	height: 99px;
}

#canada{
	background-image:url("../images/sprites.png");
	background-position: -118px -221px ;
	width: 99px;
	height: 100px;
	margin-left: 5px;
	margin-top: 10px;
}

#canada:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -885px -727px ;
	width: 99px;
	height: 100px;
}

#korea{
	background-image:url("../images/sprites.png");
	background-position: -118px -328px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#korea:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -886px -856px ;
	width: 99px;
	height: 99px;
}

#safrica{
	background-image:url("../images/sprites.png");
	background-position: -5px -431px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#safrica:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -761px -854px ;
	width: 99px;
	height: 99px;
}

#uk{
	background-image:url("../images/sprites.png");
	background-position: -119px -434px ;
	width: 99px;
	height: 99px;
	margin-left: 5px;
	margin-top: 10px;
}

#uk:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -762px -728px ;
	width: 99px;
	height: 99px;
}

#vchina{
	background-image:url("../images/sprites.png");
	background-position: -5px -541px ;
	width: 877px;
	height: 49px;
	margin-top: 44px;
}

#vchina:hover{
	background-image:url("../images/sprites_hvchina.png");
	background-position: -65px -27px ;
	width: 877px;
	height: 49px;
}

#vus{
	background-image:url("../images/sprites.png");
	background-position: -5px -598px ;
	width: 766px;
	height: 49px;
	margin-top: 64px;
}

#vus:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -12px -74px ;
	width: 765px;
	height: 49px;
}

#vindia{
	background-image:url("../images/sprites.png");
	background-position: -228px -245px ;
	width: 389px;
	height: 48px;
	margin-top: 64px;
}

#vindia:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -13px -133px ;
	width: 388px;
	height: 49px;
}

#vrussia{
	background-image:url("../images/sprites.png");
	background-position: -225px -407px ;
	width: 331px;
	height: 49px;
	margin-top: 57px;
}

#vrussia:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -406px -134px ;
	width: 330px;
	height: 49px;
}

#vgermany{
	background-image:url("../images/sprites.png");
	background-position: -228px -299px ;
	width: 194px;
	height: 49px;
	margin-top: 64px;
}

#vgermany:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -13px -190px ;
	width: 193px;
	height: 49px;	
}

#viran{
	background-image:url("../images/sprites.png");
	background-position: -426px -300px ;
	width: 179px;
	height: 49px;
	margin-top: 57px;
}

#viran:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -213px -191px ;
	width: 178px;
	height: 49px;
}

#vcanada{
	background-image:url("../images/sprites.png");
	background-position: -225px -465px ;
	width: 151px;
	height: 49px;
	margin-top: 60px;
}

#vcanada:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -397px -191px ;
	width: 150px;
	height: 49px;
}

#vkorea{
	background-image:url("../images/sprites.png");
	background-position: -380px -466px ;
	width: 136px;
	height: 49px;
	margin-top: 64px;
}

#vkorea:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -553px -191px ;
	width: 136px;
	height: 49px;
}

#vsafrica{
	background-image:url("../images/sprites.png");
	background-position: -227px -352px ;
	width: 129px;
	height: 49px;
	margin-top: 55px;
}

#vsafrica:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -12px -245px ;
	width: 128px;
	height: 49px;
}

#vuk{
	background-image:url("../images/sprites.png");
	background-position: -366px -354px ;
	width: 122px;
	height: 49px;
	margin-top: 61px;
}

#vuk:hover{
	background-image:url("../images/sprites_hover.png");
	background-position: -155px -247px ;
	width: 122px;
	height: 49px;
}


#weight{	
	background-image:url("../images/sprites_hover.png");
	background-position: -49px -350px ;
	width: 326px;
	height: 448px;
	position: fixed;
	top: 500px;
	left: 750px;
}
